In [1]:
import pandas as pd

In [3]:
rotas=pd.read_parquet("dados/rotaaas_historico.parquet")
viagens=pd.read_parquet("dados/viagens_historico.parquet")
paradas=pd.read_parquet("dados/paradas.parquet")
estacoes_metro_e_trem=pd.read_parquet("dados/estacoes_metro_e_trem.parquet")

In [4]:
# Função para descrever cada DataFrame
def analise_df(df, nome):
    print(f"\n{'='*30} {nome.upper()} {'='*30}")
    print(f"Formato: {df.shape[0]} linhas x {df.shape[1]} colunas")
    print("\nTipos de dados:")
    print(df.info())
    

# Aplicar para cada DataFrame
analise_df(rotas, "rotas")
analise_df(viagens, "viagens")
analise_df(estacoes_metro_e_trem, "estacoes_metro_e_trem")
analise_df(paradas, "paradas")

============================== ROTAS ==============================
Formato: 167346 linhas x 8 colunas

Tipos de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167346 entries, 0 to 167345
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   route_id          167346 non-null  object
 1   agency_id         167346 non-null  int64
 2   route_short_name  167346 non-null  object
 3   route_long_name   167346 non-null  object
 4   route_type        167346 non-null  int64
 5   route_color       126052 non-null  object
 6   route_text_color  124999 non-null  object
 7   data_referencia   167346 non-null  object
dtypes: int64(2), object(6)
memory usage: 10.2+ MB
None

============================== VIAGENS ==============================
Formato: 11849701 linhas x 13 colunas

Tipos de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11849701 entries, 0 to 11849700
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   route_id         object
 1   service_id       object
 2   trip_id          object
 3   trip_headsign    object
 4   direction_id     int64
 5   shape_id         int64
 6   data_referencia  object
 7   stop_id          int64
 8   stop_sequence    int64
 9   stop_name        object
 10  stop_desc        object
 11  stop_lat         float64
 12  stop_lon         float64
dtypes: float64(2), int64(4), object(7)
memory usage: 1.1+ GB
None

============================== ESTACOES_METRO_E_TREM ==============================
Formato: 401 linhas x 15 colunas

Tipos de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   401 non-null    object
 1   cd_identificador                     401 non-null    int32
 2   cd_identificador_empresa_metro_trem  190 non-null    float64
 3   nm_estacao_metro_trem                401 non-null    object
 4   cd_situacao_estacao_metro_trem       190 non-null    float64
 5   sg_fonte_original                    190 non-null    object
 6   cd_identificador_linha               190 non-null    float64
 7   tx_situacao_metro_trem               190 non-null    object
 8   nm_linha_metro_trem                  401 non-null    object
 9   nm_empresa_metro_trem                253 non-null    object
 10  cd_tipo_transporte                   190 non-null    float64
 11  geometry                             401 non-null    object
 12  tipo                                 401 non-null    object
 13  existencia                           401 non-null    object
 14  sg_estacao_metro_trem                148 non-null    object
dtypes: float64(4), int32(1), object(10)
memory usage: 45.6+ KB
None

============================== PARADAS ==============================
Formato: 36713 linhas x 49 colunas

Tipos de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36713 entries, 0 to 36712
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   stop_id                              36713 non-null  int64
 1   stop_lat                             36713 non-null  float64
 2   stop_lon                             36713 non-null  float64
 3   geometry                             36713 non-null  object
 4   CD_SETOR                             36713 non-null  object
 5   SITUACAO                             36709 non-null  object
 6   CD_SIT                               36713 non-null  object
 7   CD_TIPO                              36713 non-null  object
 8   AREA_KM2                             36713 non-null  float64
 9   CD_REGIAO                            36713 non-null  object
 10  NM_REGIAO                            36713 non-null  object
 11  CD_UF                                36713 non-null  object
 12  NM_UF                                36713 non-null  object
 13  CD_MUN                               36713 non-null  object
 14  NM_MUN                               36713 non-null  object
 15  CD_DIST                              36713 non-null  object
 16  NM_DIST                              36713 non-null  object
 17  CD_SUBDIST                           36713 non-null  object
 18  NM_SUBDIST                           0 non-null      object
 19  CD_BAIRRO                            36713 non-null  object
 20  NM_BAIRRO                            0 non-null      object
 21  CD_NU                                36713 non-null  object
 22  NM_NU                                288 non-null    object
 23  CD_FCU                               36713 non-null  object
 24  NM_FCU                               1449 non-null   object
 25  CD_AGLOM                             36713 non-null  object
 26  NM_AGLOM                             6 non-null      object
 27  CD_RGINT                             36713 non-null  object
 28  NM_RGINT                             36713 non-null  object
 29  CD_RGI                               36713 non-null  object
 30  NM_RGI                               36713 non-null  object
 31  CD_CONCURB                           36713 non-null  object
 32  NM_CONCURB                           36713 non-null  object
 33  v0001                                36713 non-null  float64
 34  v0002                                36713 non-null  float64
 35  v0003                                36713 non-null  float64
 36  v0004                                36713 non-null  float64
 37  v0005                                36713 non-null  float64
 38  v0006                                36713 non-null  float64
 39  v0007                                36713 non-null  float64
 40  Regiões                              36713 non-null  object
 41  Subprefeituras                       36713 non-null  object
 42  Distritos                            36713 non-null  object
 43  nome_estacao_mais_proxima_existente  21373 non-null  object
 44  dist_estacao_mais_proxima_existente  21373 non-null  float64
 45  nome_estacao_mais_proxima_projetado  22063 non-null  object
 46  dist_estacao_mais_proxima_projetado  22063 non-null  float64
 47  nome_estacao_mais_proxima            28958 non-null  object
 48  dist_estacao_mais_proxima            28958 non-null  float64
dtypes: float64(13), int64(1), object(35)
memory usage: 13.7+ MB
None